<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Weather and News</a>
         <header>
        <nav class="navbar">
            <ul id="position">
                 <li><a href="" Match="NavLinkMatch.All">Home</a></li>
                 <li><a href="/weather" target="_blank">Weather</a></li>
                 <li><a href="/news" target="_blank">News</a></li>
                 <li><a href="/contact" target="_blank">About Us</a></li>
                 <li><a href="/contact" target="_blank">Contact Us</a></li>
                
                 
            </ul>
        </nav>
    </header>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>



@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
